.squareBackground {
  width: 90%;
  height: calc(65vw);
  background-color: var(--color-img);
}

.image {
  width: 90%;
}

.text {
  /* width: 90%; */
  text-align: left;
  color: var(--color-main);
  margin-top: -10px;
  margin-bottom: 45px;
}

#textTitle {
  font-weight: bold;
}