#container {
  display: relative;
}

.squareBackground {
  width: 90%;
  height: calc(65vw);
  background-color: var(--color-img);
}

.image {
  display: absolute;
  top: 10px;
  left: 50px;
  width: 70%;
  /* transform: translate(20%, -105%); */
}

.text {
  position: absolute;
  width: 85%;
  text-align: left;
  color: var(--color-main);
}

#textTitle {
  font-weight: bold;
}