#container{
  margin: 0 auto;
}

#text{
  color: var(--color-main);
  width: 77%;
  font-size: var(--fontSize-mobile-body);
  line-height: 20px;
  margin: 30px auto 50px auto;
}

#header{
  color: var(--color-main);
  font-size: var(--fontSize-mobile-heading);
  width: 79%;
  font-weight: 600;
  margin: 10px auto;
}

.dropdown{
  margin-bottom: 33px;
  margin-left: 9.5%;
}

/* #filter{
  margin: 10px 0 33px 9% ;
  width: 100px;
  padding-right: 5px;
  font-size: 16px;
  border: none;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../icons/drop-down-arrow.svg") no-repeat right;
  color: var(--color-main);
  font-weight: 600;
  font-family: "Barlow"
}

#filter:focus {
  outline: none;
} */
