#text{
  color: var(--color-main);
  width: 77%;
  font-size: var(--fontSize-mobile-body);
  line-height: 20px;
  margin: 30px auto 50px auto;
}

#header{
  color: var(--color-main);
  width: 82%;
  margin: auto;
}

#filter{
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}