.squareBackground {
  width: 75%;
  height: calc(65vw);
  background-color: #7CA6EE;
}

#scooter {
  width: 70%;
  float: right;
  margin-right: 15%;
  transform: translateY(-105%)
}

.text {
  position: absolute;
  width: 85%;
  text-align: left;
  font-family: 'Barlow';
  color: #1C307A;
}

#textTitle {
  font-weight: bold;
}