.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--color-main);
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 80%;
}