#splash{
  width: 100%;
}

#description{
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  color: var(--color-main);
  font-size: var(--fontSize-mobile-body);
}

#description p b{
  font-weight: 600;
}

#timer{
  color: var(--color-main);
  margin: 0 auto 24px auto;
  font-size: 36px;
  font-weight: 600;
  width: fit-content;
}

#pastProjects{
  color: var(--color-main);
  margin: 0 auto 110px auto;
  width: fit-content;
  font-weight: 600;
}

#pacmacroImage{
  transform: translateY(-55px);
  float: right;
  margin-right: 7%;
}

#pacmacroText{
  transform: translateY(-45px);
  width: 217px;
}

#pacmacroContainer{
  background-image: url("../assets/projects/pac-macro-background.png");
  background-position: 25% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 432px;
}

#scheduleMeImage{
  transform: translateY(-90px);
  width: 262px;
  float: right;
  margin-right: 6%;
}

#scheduleMeText{
  transform: translateY(-10px);
  width: 244px;
}

#scheduleMeContainer{
  background-image: url("../assets/projects/schedule-me-background.png");
  background-position: 78% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 364px;
}