#container {
  width: 70%;
  height: 52px;
  margin: auto;
  background-color: #568CDB;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow';
  font-size: 20px;
  font-weight: 550;
  color: #FFFFFF;
  text-decoration: none;
}

.element {
  margin: 9px;
}