#container {
  width: 82%;
  margin: auto;
}

.frame {
  height: 10%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(-275px);
  color: #ffffff;
}

.date {
  width: 18%;
  text-align: right;
  transform: translateY(-4px)
}

.date h1, .date h2 {
  font-weight: 600;
}

.date h2 {
  font-size: 20px;
  margin-top: -14px;
}

.divider{
  background: white center;
  width: 2px;
  height: 64px;
  margin-left: 16px;
  margin-right: 16px;
}

.title {
  width: 60%;
  font-size: 30px;
  font-weight: 800;
}

.backgroundBody {
  width: calc(100% - 47px);
  height: 275px;
}

.backgroundEdge {
  width: 47px;
  height: 275px;
  transform: translateX(-1px);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff; 
  font-weight: 600;
  transform: translateY(-275px);
}

.details {
  width: 85%;
  display: flex;
  padding-left: 15%;
}

.details * {
  margin: 5px;
}

.fbEvent {
  width: 75%;
  border: #ffffff solid;
  border-width: 1px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 6% auto auto auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}